.roundedCorner
{
    width: 200px;
    border-radius: 20px;
    margin-right: 40px;
}

.square
{
    width: 150px;
    height: 150px;
    object-fit: contain;
    object-position: center;
    margin-right: 40px;

}

.circle
{
    width: 200px;
    border-radius: 200px;
}