body
{
    height: 3000px;
}

.left-part
{
    display: flex;
    flex-direction: column;
    background-color: rgb(33, 33, 33);
    width: 55px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    margin-right: 10px;
    object-fit: cover;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 10px;
}

.channel-pic
{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 25px;
    margin-bottom: 10px;
}

.right-part
{
    background-color: rgb(55, 55, 55);
    margin-left: 67px;
    width: 150px;
    position: fixed;
    top: 0;
    bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

.first-row
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    height: 30px;
}

.info
{
    font-family: Arial;
    font-weight: bold;
    font-size: 16px;
}

.rest
{
    font-family: Arial;
    color: rgb(150, 150, 150);
}